<div class="u-column1 col-2">
    <h2>Reset password</h2>
    <form  class="register">
        <div class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
            <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
        <p class="form-row">
            <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="02aaeb6b10" />
            <input type="hidden" name="_wp_http_referer" value="/pizzaro/my-account/" />
            <input type="submit" class="woocommerce-Button button" name="login" value="Resend Verification Email" (click)="authService.ForgotPassword(passwordResetEmail.value)"/>
        </p>
        <p class="woocommerce-LostPassword lost_password">
            <a [routerLink]="['/auth', 'login']">Go to back?</a>
        </p>
    </form>
</div>

