<div class="pizzaro-order-steps">
    <ul>
        <li class="cart">
            <span class="step">1</span>Shopping Cart
        </li>
        <li class="checkout">
            <span class="step">2</span>Checkout
        </li>
        <li class="complete">
            <span class="step">3</span>Order Complete
        </li>
    </ul>
</div>
<div id="post-8" class="post-8 page type-page status-publish hentry">
    <div class="entry-content">
        <div class="woocommerce">
            <form>
                <table class="shop_table shop_table_responsive cart" >
                    <thead>
                    <tr>
                        <th class="product-remove">&nbsp;</th>
                        <th class="product-thumbnail">&nbsp;</th>
                        <th class="product-name">Product</th>
                        <th class="product-price">Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="cart_item" *ngFor="let product of cartProducts, let i = index">
                            <td class="product-remove">
                                <a [routerLink]="['/cart', 'cart']" class="remove" (click)="removeCart(product, this.itemPrice[i], this.totalQuantity[i])">&times;</a>
                            </td>
                            <td class="product-thumbnail">
                                <a href="single-product-v1.html">
                                    <img width="180" height="180" src={{product.image}} alt=""/>
                                </a>
                            </td>
                            <td class="product-name" data-title="Product">
                                <p>{{product.name}}</p>
                            </td>
                            <td class="product-price" data-title="Price">
                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#163;</span>{{this.itemPrice[i]}}</span>
                            </td>
                            <td class="product-quantity" data-title="Quantity">
                                <div class="qty-btn">
                                    <label>Quantity</label>
                                    <div class="quantity">
                                        <input type="number" name = "quantity_{{i}}" min = "0" [(ngModel)]="this.totalQuantity[i]"  title="Qty" class="input-text qty text" (change)="calItemPrice(product.price)"/>
                                    </div>
                                </div>
                            </td>
                            <td class="product-subtotal" data-title="Total">
                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#163;</span>{{this.itemPrice[i] * this.totalQuantity[i]}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="actions">
                                <div class="wc-proceed-to-checkout">
                                    <a class="checkout-button button alt wc-forward" (click)="checkOut()">Proceed to Checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="cart-collaterals">
                <div class="cart_totals ">
                    <h2>Cart Totals</h2>
                    <table  class="shop_table shop_table_responsive">
                        <tr class="order-total">
                            <th>Total</th>
                            <td data-title="Total">
                                <strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#163;</span>{{this.productService.totalPrice}}</span></strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
