<div class="tiles">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="banner top-left" >
        <a href="#">
          <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url({{bestdeals[0].image}}); height: 442px;">
            <div class="caption">
              <h3 class="title">{{bestdeals[0].name}}</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="banners">
        <div class="row">
          <div class="banner col-sm-6 top-right" >
            <a href="#">
              <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url({{bestdeals[1].image}}); height: 210px;">
                <div class="caption">
                  <h3 class="title">{{bestdeals[1].name}}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="banner col-sm-6 top-right" >
            <a href="#">
              <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url({{bestdeals[2].image}}); height: 210px;">
                <div class="caption">
                  <h3 class="title">{{bestdeals[2].name}}</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="banner center" >
        <a href="#">
          <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url({{bestdeals[3].image}}); height: 210px;">
            <div class="caption">
              <h3 class="title">{{bestdeals[3].name}}</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
