<div class="pizzaro-order-steps">
    <ul>
        <li class="cart">
            <span class="step">1</span>Shopping Cart
        </li>
        <li class="checkout">
            <span class="step">2</span>Checkout
        </li>
        <li class="complete">
            <span class="step">3</span>Order Complete
        </li>
    </ul>
</div>
<div id="post-9" class="post-9 page type-page status-publish hentry">
    <div class="entry-content">
        <div class="woocommerce">
            <form name="checkout"  class="checkout woocommerce-checkout" enctype="multipart/form-data" [formGroup]="form">
                <div class="col2-set" id="customer_details">
                    <div class="col-1">
                        <div class="woocommerce-billing-fields">
                            <h3>Billing Details</h3>
                            <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                                <label>Username <span class="required">*</span></label>
                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" formControlName="displayName"/>
                            </p>
                            <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                                <label>Email <span class="required">*</span></label>
                                <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" formControlName="email"/>
                            </p>
                            <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                                <label>Phone number <span class="required">*</span></label>
                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" formControlName="phoneNumber"/>
                            </p>
                            <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                                <label>Postcode <span class="required">*</span></label>
                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" formControlName="postCode"/>
                            </p>
                            <p class="woocomerce-FormRow form-row">
                                <input type="button" class="woocommerce-Button button"  value="Search" (click)="searchAddress()"/>
                            </p>
                            <p class="woocomerce-FormRow form-row" *ngIf="postAddress !== null">
                                <label>Address <span class="required">*</span></label>
                                <select id="select-size" class="" name="attribute_select-size" data-attribute_name="attribute_select-size">
                                    <option value="" *ngFor="let detail of postAddress">{{detail}}</option>
                                </select>
                            </p>
                            <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                                <label>Address1<span class="required">*</span></label>
                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" formControlName="address"/>
                            </p>

                        </div>
                    </div>
                </div>
                <h3 id="order_review_heading">Your order</h3>
                <div id="order_review" class="woocommerce-checkout-review-order">
                    <table class="shop_table woocommerce-checkout-review-order-table">
                        <thead>
                        <tr>
                            <th class="product-name">Product</th>
                            <th class="product-total">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="cart_item" *ngFor="let product of cartProducts, let i = index">
                                <td class="product-name"> {{product.name}}&nbsp;<strong class="product-quantity">x{{this.totalQuantity[i]}}</strong>
                                </td>
                                <td class="product-total">
                                    <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol">&#163;</span>{{this.itemPrice[i] * this.totalQuantity[i]}}</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr class="order-total">
                            <th>Total</th>
                            <td>
                                <strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#163;</span>{{productService.totalPrice}}</span></strong>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div id="payment" class="woocommerce-checkout-payment">
                        <ul class="wc_payment_methods payment_methods methods">
                            <li class="wc_payment_method payment_method_bacs">
                                <input id="payment_method_bacs" type="radio" class="input-radio" name="payment_method" value="bacs"  checked='checked' data-order_button_text="" />
                                <label for="payment_method_bacs">Direct Bank Transfer</label>
                                <div class="payment_box payment_method_bacs" >
                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won&#8217;t be shipped until the funds have cleared in our account.</p>
                                </div>
                            </li>
                            <li class="wc_payment_method payment_method_cheque">
                                <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="cheque"  data-order_button_text="" />
                                <label for="payment_method_cheque">Check Payments  </label>
                                <div class="payment_box payment_method_cheque" style="display:none;">
                                    <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                </div>
                            </li>
                            <li class="wc_payment_method payment_method_cod">
                                <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod"  data-order_button_text="" />
                                <label for="payment_method_cod">Cash on Delivery   </label>
                                <div class="payment_box payment_method_cod" style="display:none;">
                                    <p>Pay with cash upon delivery.</p>
                                </div>
                            </li>
                            <li class="wc_payment_method payment_method_paypal">
                                <input id="payment_method_paypal" type="radio" class="input-radio" name="payment_method" value="paypal"  data-order_button_text="Proceed to PayPal" />
                                <label for="payment_method_paypal">PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg"/>
                                    <a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/us/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/us/webapps/mpp/paypal-popup"   >What is PayPal?</a>  </label>
                                <div class="payment_box payment_method_paypal" style="display:none;">
                                    <p>Pay via PayPal; you can pay with your credit card if you don&#8217;t have a PayPal account.</p>
                                </div>
                            </li>
                        </ul>
                        <div class="form-row place-order">
                            <noscript>Since your browser does not support JavaScript, or it is disabled, please ensure you click the <em>Update Totals</em> button before placing your order. You may be charged more than the amount stated above if you fail to do so.<br/>
                                <input type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="Update totals" />
                            </noscript>
                            <p>
                                Minimum order price:  &#163;<span>10</span>
                            </p>
                            <p>
                                Order time: 10 am - 10 pm on UK time
                            </p>
                            <a class="button alt" (click)="placeOrder()" style="text-align: center;">Place order</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- .entry-content -->
</div>
<fishbar-simple-payment-intent></fishbar-simple-payment-intent>