<div class="product type-product status-publish has-post-thumbnail product_cat-pizza pa_food-type-veg first instock shipping-taxable purchasable product-type-variable has-children">
    <div class="single-product-wrapper">
        <div class="product-images-wrapper">
            <div class="images">
                <div>
                    <img width="600" height="600" src="{{productDetail[0].image}}" class="attachment-shop_single size-shop_single wp-post-image" alt=""/>
                </div>
            </div>
        </div>
        <!-- /.product-images-wrapper -->
        <div class="summary entry-summary">
            <div itemprop="offers">
                <p class="price">
                    <span class="woocommerce-Price-amount amount">
                        &#163;{{productDetail[0].price + sizePrice + addonPrice}}
                    </span>
                </p>
            </div>
            <div itemprop="description">
                <p>{{productDetail[0].description}}</p>
            </div>
        </div>
        <!-- .summary -->
    </div>
    <!-- /.single-product-wrapper -->
    <div class="product-form-wrapper">
        <div class="delivery-time">Delivery: <span>35 minutes</span></div>
        <form class="variations_form cart"  enctype='multipart/form-data' data-product_id="116" >
            <table class="variations" >
                <tbody>
                    <tr>
                        <td class="label"><label for="select-size">Select Size</label></td>
                        <td class="value">
                            <select id="select-size" [(ngModel)]="sizePrice" class="" name="attribute_select-size" data-attribute_name="attribute_select-size">
                                <option value="" *ngFor="let detail of productDetail[0].size" [ngValue]="detail.price">{{detail.name}}</option>
                            </select>
                            <p>Price : {{sizePrice}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="select-size">Select Addon</label></td>
                        <div *ngFor="let addon of productDetail[0].addon, let i=index">
                            <label>
                                <input type="checkbox" [value]="addon.price" (change)="onCheckboxChange($event)" />
                                {{addon.name}} (Price: {{addon.price}})
                            </label>
                        </div>
                    </tr>
                </tbody>
            </table>

            <div class="single_variation_wrap">
                <div class="woocommerce-variation single_variation"></div>
                <div class="woocommerce-variation-add-to-cart variations_button">
                    <div class="qty-btn">
                    </div>
                    <button type="button" class="single_add_to_cart_button button alt" (click)="addToCart(productDetail[0], sizePrice, addonPrice)">Add to cart</button>
                    <input type="hidden" name="add-to-cart" value="116" />
                    <input type="hidden" name="product_id" value="116" />
                    <input type="hidden" name="variation_id" class="variation_id" value="0" />
                </div>
            </div>
        </form>
    </div>
    <!-- /.product-images-wrapper -->
</div>
