.site-header{
  padding-top: 5px;
  margin-bottom: 20px;
}
//
.header-v1 .site-header-cart-v2 .cart-content {
  margin-left: 0;
}
//
.header-wrap {
  //display: flex;
  justify-content: space-between;
}
//
.main-navigation {
  width: fit-content;
}

.header-phone-numbers{
  width: fit-content;
  padding-right: 0px
}

.a-item{
  padding-left: 12px!important;
  padding-right: 12px!important;
}
