.site-header{
  padding-top: 5px;
}
//
.cart-content{
  min-width: 80px;
}
.header-v1 .site-header-cart-v2 .cart-content {
  margin-left: 0;
}
//
.site-header {
  margin-bottom: 20px;
}
//
.header-info-wrapper{
  margin: 0 0 0 0;
}
//
.header-wrap {
  display: flex;
  justify-content: space-between;
}
//

