.site-header{
  padding-top: 5px;
  margin-bottom: 20px;
}
//
.cart-content{
  min-width: 120px;
}
.header-v1 .site-header-cart-v2 .cart-content {
  margin-left: 0;
}
//
.header-wrap {
  //display: flex;
  justify-content: space-between;
}
//
.main-navigation {
  width: fit-content;
}

