<div id="content" class="site-content" tabindex="-1" >
    <div class="col-full">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" >
                <div id="post-10" class="post-10 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="woocommerce">
                            <div class="customer-login-form">
                                <span class="or-text">or</span>
                                <div class="u-columns col2-set" id="customer_login">
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
